.colour{
    color: gray;
    margin-left: 10px;
    font-size: 20px;
}
#f1{
    margin-top: 5%;
}
#main1{
    border: 2px solid gray ;
    box-shadow: 2px 2px 2px rgb(19, 20, 20); ;;
    height:580px;
    width:500px;
}
.fa-solid {
    margin-left: 20%;

    font-size: 22px;
}
.fa-sun{
    font-size: 16px;
}
.fa-moon{
    padding-top: -90%;
    padding-left: -100%;
    font-size: 16px;


}


#circal{
    border: 2px solid gray ;
    box-shadow: 2px 2px 2px rgb(19, 20, 20); ;;
    margin-left: 0%;
    height:100px;
    width:100px;
    border-radius:50%;
    margin-top: 3%;
}
@media (max-width:768px){
    #main1{
    height:580px;
    width:100%;
    }
    #f1{
        margin-top: 30%;
    }
}
.fa-solid {
    margin-left: 30%;
    color: gray;
  font-size: "25px";
 margin-top: 20%;
}

.remove-button{
    color: white;
    background-color: rgba(0, 0, 255, 0.767);
}
#circal {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }